
{{> header }}

<div class="container">
   Welcome home


   <div class="row justify-content-center mt-5">
  <div class="col-lg-6 ">
      <div class="input-group mb-3">
         <input type="text" class="form-control" placeholder="Search name" >
         <button class="btn btn-outline-secondary" type="button" >Button</button>
      </div>


    <div class="row text-center">
          {{#each galleries}}
        <div class="col-sm-6 col-md-3">
          <div class="card mt-3 camp-card">
            <img src="{{this.image}}" class="img-thumbnail camp-img" />
            <div class="caption">
              <p class="card-text text-center mt-2">
                {{this.title}}
              </p>
            </div>
          </div>
        </div>
         {{else}}
          <p>No Galleries available!</p>
         {{/each}}
    </div>





   </div>
</div>

</div>



{{> footer}}