
{{> header }}

<div class="container">
   Welcome home


   <div class="row justify-content-center mt-5">
  <div class="col-lg-6 ">
      <div class="input-group mb-3">
         <input type="text" class="form-control" placeholder="Search name" >
         <button class="btn btn-outline-secondary" type="button" >Button</button>
      </div>

      
   </div>
</div>

</div>



{{> footer}}