
  {{> header }}


<div class="container">
  <h1 class="text-center">Login Page</h1>


{{> authError }}


  <div class="row">
    <div  style="width: 40%; margin: 20px auto;" class="col-md-6">
      <form action="/auth/signin" method="post" class="mb-3">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input required type="email" class="form-control" name="email" placeholder="Email" />
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input required class="form-control" name="password" placeholder="Password" type="password" />
        </div>

      <div class="d-flex flex-column ">
        <button type="submit" class="mb-2 btn btn-primary btn-lg">
          Login
        </button>
      <a class="" href="/auth/register">Register</a>
      </div>
      
      </form>
    </div>
  </div>
</div>

{{> footer }}
