
{{> header }}

<div class="container">
  <h1 class="text-center">Upload image</h1>
  
  <div class="row">
    <div style="width: 40%; margin: 20px auto;">
      <form action="/gallery" method="post" enctype="multipart/form-data">

         <div class="mb-3">
          <label class="form-label" for="">Title</label>
          <input type="text" class="form-control" name="title" placeholder="Title" required />
        </div>


         <div class="mb-3">
          <label class="form-label" for="">Category</label>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="categoryId">
            <option value="00"  >Select Category</option>
              {{#each categories}}
                <option aria-required="true" value="{{this.id}}">{{this.name}}</option>
             {{/each}}
            {{!-- <option value="0" >Other</option> --}}
          </select>
        </div>


        <div class="mb-3">
          <label for="formFile" class="form-label">Image</label>
          {{!-- <input class="form-control" placeholder="image" type="text" name="image" id="formFile" required> --}}
          <input class="form-control" type="file" name="image" id="formFile" accept="image/*" required>
        </div>

       <div class="d-flex flex-column ">
        <button type="submit" class="mb-2 btn btn-primary btn-lg">
          Upload
        </button>
      </div>
      </form>
    </div>
  </div>
</div>

{{> footer }}
